/*ESTILOS ESCRITORIO PARA PAGINA register y login */

:root{
    /* Configuración de colores */
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;

    /* Configuración de colores de fondo */
    --bg-primary-color: #937b5e;
    --bg-secondary-color: #876e5d;
    --white-color: #fdf5ef;

    /* fuentes */
    --primary-font:'Nunito', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header_registro{
    height: 08vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(135, 110 ,93,  0.681);
    margin-bottom: 15px;
    color:#ffffff;
    font-family: var(--primary-font);
    
}

.navbar_registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    height: 3em;
}

.logo_registro{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.2rem;
    
    &:hover{
        animation: tilt-n-move-shaking 0.25s infinite;
    }
}

.body_registro{
    height: 100vh;
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("../img/bg-register.jpg");
    background-size: cover;
    background-position: center;
} 

h2{
    color: var(--white-color);
    font-size: 3rem;
    font-family: var(--primary-font);
}

a{
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--primary-font);
}

.titulo_registro{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

input:not(.check,.boton),select{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    background-color: rgb(147,123,94, 0.5);
    outline: none;
    color:var(--white-color);
}
.error input:not(.check,.boton),.error select{
    border: 1px solid var(--third-color);
}
.error-text{
    color:Var(--third-color);
    font-size: 0.8rem;
    margin-top:0px;
    margin-bottom: 10px;
}

.lavel_registro{
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--primary-font);
}

.form-terms{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: var(--primary-font);
    .texto_check{
        margin-left: 10px;
    }
}
.boton{
    width: 30%;
    box-sizing: content-box;
    background-color:var(--bg-primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
}
.boton:hover {
    background-color: #675346;
    border-radius: 20px;
}

.registro{
    background-color:rgba(42, 42, 42, 0.681);
    width: 30%;
    margin:0 auto;
    border-radius: 5px;
    padding: 0px ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: auto;
    /*height: 90vh;*/
    font-size:1.2rem;
}

form{
    width: 100%;
    padding:15px 40px;
}

.ayuda_form{
    margin-top:30px;
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight:400;

}


footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(135,110,93, 0.681);
    margin-top: 15px;
    color:#ffffff;
    font-family: var(--primary-font);
}

.footer-link:hover {
    color: #181419;
}


/* LOGIN */

.login{
    background-color:rgba(42, 42, 42, 0.681);
    width: 30%;
    margin:0 auto;
    border-radius: 5px;
    padding: 0px ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 83vh;
    font-size:1.2rem;
}

.boton_login{
    width: 30%;
    box-sizing: content-box;
    background-color:var(--bg-primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 40px;
}
.body_login{
    height: 100vh;
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)),url("../img/bg-login.jpg");
    background-size: cover;
    background-position: center;
} 