<!DOCTYPE html>
<!--  -->
<!-- este html esta destinado para la coneccion con la api de rick and morty -->
<!--  -->
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />

    <title>TP Grupo 4</title>

    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <!-- vinculación fontawesome -->
    <script
      src="https://kit.fontawesome.com/0501813ee5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="">
    <!-- Encabezado -->
    <header class="header">
      <nav class="navbar">
        <!-- Logo -->
        <div id="logo">
          <a href="index.html">
            <i class="fa-solid fa-book"></i>
            <span class="logo-text">CAC - Libros</span>
          </a>
        </div>

        <!-- hipervínculos del menú -->
        <ul class="nav-links">
          <li>
            <a href="api-connection.html">Integracion de API</a>
          </li>
          <li><a href="index.html#popular">Tendencias</a></li>
          <li>
            <a href="register.html" class="btn-cac">Registrarse</a>
          </li>
          <li>
            <a href="login.html">
              <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
              <!-- <i class="fas fa-sign-in-alt"></i> -->
              <i class="fas fa-sign-in-alt"></i>
              <span class="login-text">Iniciar Sesión</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main style="margin-top: 25px">
      <h2 style="text-align: center">
        Seccion para mostrar la coneccion con la API de Rick and Morty
      </h2>

      <section
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 15px 0;
        "
        id="characters-section"
      >
        <div
          style="
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            gap: 15px;
          "
          id="characters-cards"
        ></div>
        <div style="display: flex; gap: 10px; margin: 10px 0">
          <button class="pages-button" id="prev">Anterior</button>
          <p style="padding: 0 5px" id="pages-counter"></p>
          <button class="pages-button" id="next">Siguiente</button>
        </div>
      </section>
    </main>

    <script src="../static/javascript/api-connection.js"></script>
  </body>
</html>
