<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style_register.css" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />

    <title>TP Grupo 4</title>

    <!-- vinculación con google-fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <!-- vinculación fontawesome -->
    <script
      src="https://kit.fontawesome.com/0501813ee5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="body_registro">
    <header class="header_registro">
      <nav class="navbar_registro">
        <a clas="logo_registro" href="../index.html">
          <i class="fa-solid fa-book"></i>
          <span> CAC-Libros</span>
        </a>
      </nav>
    </header>

    <main id="main" class="main">
      <section class="registro" id="form-wrapper">
        <!-- FORMULARIO-->
        <form action="#" method="POST" novalidate id="form_registro">
          <h2 class="titulo_registro">Registro</h2>
          <!--CAMPOS-->
          <div class="form-control">
            <label class="lavel_registro" for="name">Nombre</label>
            <input type="text" name="name" required id="name" />
          </div>
          <div class="form-control">
            <label for="last-name" class="lavel_registro">Apellido </label>
            <input type="text" name="last-name" required id="last-name" />
          </div>
          <div class="form-control">
            <label for="email" class="lavel_registro">Email</label>
            <input type="email" name="email" required id="email" />
          </div>
          <div class="form-control">
            <label for="passw" class="lavel_registro">Contraseña</label>
            <input type="password" name="passw" required id="passw" />
          </div>
          <div class="form-control">
            <label for="date" class="lavel_registro">Fecha de nacimiento</label>
            <input type="date" name="date" required id="date" />
          </div>
          <div class="form-control">
            <label for="country" class="lavel_registro"
              >Selecione su país de origen</label
            >
            <select name="country" id="country" class="form-select">
              <option value="">País</option>
              <option value="AR">Argentina</option>
              <option value="BO">Bolivia</option>
              <option value="BR">Brasil</option>
              <option value="CH">Chile</option>
              <option value="CO">Colombia</option>
              <option value="EC">Ecuador</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Perú</option>
              <option value="UY">Uruguay</option>
              <option value="VE">Venezuela</option>
            </select>
          </div>
          <!--CHECkBOX-->
          <div class="form-terms">
            <div class="terms">
              <input type="checkbox" class="check" id="terms" />
              <label class="texto_check" for="terminos"
                >Acepto términos y condiciones</label
              >
            </div>
          </div>

          <!--BOTON DE ACCIÓN-->
          <button type="submit" class="boton">Registrate</button>
          <button type="reset" class="boton">Borrar todo</button>

          <!--ZONA DE AYUDA-->
          <div class="ayuda_form">
            <a href="#">¿Necesitas ayuda?</a>
          </div>
        </form>
      </section>
    </main>

    <footer id="footer">
      <a href="#" class="footer-link">Términos y condiciones</a>
      <a href="#" class="footer-link">Preguntas Frecuentes</a>
      <a href="#" class="footer-link">Ayuda</a>
      <a href="contact-form.html" class="footer-link">Contactanos</a>
    </footer>
  </body>
</html>
